<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form th:method="post" th:action="@{/users/update}" th:object="${user}">
    <input type="hidden" name="id" th:value="${user.getId()}"/>
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name" />
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id="age" />
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>

    <input type="submit" value="Update!" />
</form>
</body>
</html>
